h1 {
  color: blue;
  background-color: orange;
}

p {
  background-color: rgb(220,220,220);
}

figure {
  background-color: yellow;
  border: 1px solid grey;
}

figure {
  float: left;
  border: solid 1px gray;
  margin: 5px 5px 5px 0;
  padding: 0;
  background-color: white;
}

figcaption {
  text-align: center;
}